@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
#page1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
#navbar {
  padding: 10px 10px;
  display: flex;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.6);
  /* background: linear-gradient(to right, #e7e296, #8cc0e6); */
  background: transparent;
  backdrop-filter: blur(10px);
  height: 70px;
  z-index: 99;
}
#logoIMG {
  width: 130px;
  height: 80px;
}
#navbar ul {
  width: 100%;
  list-style: none;
}
#navbar li {
  position: relative;
  float: left;
  width: auto;
}
#navbar a {
  text-decoration: none;
  color: #ed5b2c;
  display: flex;
  font-size: 15px;
  position: relative;
  /* left: 3rem; */
  /* font-weight: bold; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 8px;
  transition: all ease 0.3s;
}
.nav2 {
  display: flex;
  padding: 20px 15px;
  gap: 8px;
  justify-content: space-between;
}
#btn1 {
  width: 120px;
  height: 50px;
  border: none;
  /* font-weight: bold; */
  /* border: 1px solid black; */
  /* background: linear-gradient(to right, #8cc0e6, #e7e296); */
  /* background: linear-gradient(to right, #e7e296, #8cc0e6); */
  background: linear-gradient(to right, #ffcf6d, #ed5b2c);
  color: white;
  font-size: 14px;
  bottom: 10px;
  padding: 10px 3px;
  cursor: pointer;
  position: relative;
}
#btn1:hover {
  opacity: 0.7;
}
.fa-angle-down {
  padding: 0 3px;
}
#submenu {
  visibility: hidden;
  top: 80px;
  left: 0;
  opacity: 0;
  z-index: 1;
  position: absolute;
  transition: all ease-in-out 0.4s;
}
li:hover ul#submenu {
  visibility: visible;
  opacity: 1;
}
#submenu li {
  transition: all ease-in-out 0.6s;
  width: 100%;
  float: none;
}
#submenu a {
  /* background: linear-gradient(to right, #e7e296, #8cc0e6); */
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: #ed5b2c;
  font-size: 15px;
  padding: 10px;
}
.hamMenu {
  display: none;
}
.burger {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  z-index: 99;
  transition: all ease-in-out 0.3s;
  background-color: #ed5b2c;
}
#container1 {
  width: 100%;
  height: 100%;
  /* background-color: salmon; */
}
#container2 {
  display: none;
}
.swiper {
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: -1;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#sidebar {
  width: 7%;
  height: 86%;
  background: transparent;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 14%;
  overflow: hidden;
  z-index: 1;
}
#sidebartext {
  display: flex;
  text-align: center;
  font-size: 20px;
  position: relative;
  left: 1rem;
  text-transform: uppercase;
  color: #ed5b2c;
}
#sidebartext2 {
  display: flex;
  text-align: center;
  position: relative;
  left: 4rem;
  bottom: 8rem;
  font-size: 20px;
  text-transform: uppercase;
  color: #ed5b2c;
}
#sidebartext3 {
  display: flex;
  text-align: center;
  position: relative;
  font-size: 14px;
  bottom: 7rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ed5b2c;
}
.sidebarlogoss img {
  width: 30px;
  height: 30px;
  padding: 5px 10px;
  margin-left: 22px;
  bottom: 4rem;
  cursor: pointer;
  display: block;
  position: relative;
  overflow: hidden;
}
#formTitle {
  font-size: 20px;
  text-align: center;
}
.loginForm {
  width: 100%;
  height: 0;
  z-index: 99;
  position: fixed;
  /* overflow: hidden; */
}
.open-button {
  background: linear-gradient(to right, #ffcf6d, #ed5b2c);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
  position: fixed;
  top: 89%;
  right: 28px;
  width: 280px;
}
.form-popup {
  display: none;
  position: fixed;
  top: 16%;
  right: 15px;
  border: 2px solid #ed5b2c;
  z-index: 90;
}
.form-container {
  max-width: 300px;
  padding: 0;
  color: #ed5b2c;
  height: 0%;
  background-color: transparent;
  backdrop-filter: blur(10px);
}
.form-container input[type='text'],
.form-container input[type='number'] {
  width: 90%;
  padding: 10px;
  margin: 5px 0 0 0;
  border: none;
  color: #ed5b2c;
  background: transparent;
  backdrop-filter: blur(20px);
  overflow: hidden;
}
.form-container input[type='text']:focus,
.form-container input[type='number']:focus {
  background-color: transparent;
  outline: none;
}
.form-container input[type='email'] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 0 0;
  border: none;
  color: #ed5b2c;
  background: transparent;
  backdrop-filter: blur(20px);
  overflow: hidden;
}
.form-container input[type='email']:focus {
  background-color: transparent;
  outline: none;
}
#Budget {
  width: 90%;
  padding: 15px;
  margin: 5px 0 0 0;
  border: none;
  color: #ed5b2c;
  background: transparent;
  backdrop-filter: blur(20px);
  overflow: hidden;
}
#Budget:focus {
  background-color: transparent;
  outline: none;
}
#Ptype {
  width: 90%;
  padding: 15px;
  color: #ed5b2c;
  margin: 5px 0 0 0;
  border: none;
  background: transparent;
  backdrop-filter: blur(20px);
  overflow: hidden;
}
#Ptype:focus {
  background: transparent;
  outline: none;
}
.valls {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: transparent;
  backdrop-filter: blur(20px);
  overflow: hidden;
}
.form-container .btn {
  background-color: #64a4ac;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: #ed5b2c;
}
.form-container .btn:hover,
.open-button:hover {
  opacity: 0.7;
}
.running-text {
  height: 0;
  width: 82%;
  left: 7%;
  position: relative;
  bottom: 30%;
  z-index: 9;
}
#movingDiv {
  white-space: nowrap;
  overflow-x: auto;
  line-height: 80%;
  padding: 5vw 0;
}
#movingDiv::-webkit-scrollbar {
  display: none;
}
#movingDiv h4 {
  font-size: 3vw;
  color: #ed5b2c;
  white-space: nowrap;
  text-transform: uppercase;
  display: inline-block;
  /* background-color: red; */
}
#circle {
  width: 35px;
  display: inline-block;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(to right, #ffcf6d, #ed5b2c);
}
.con {
  display: inline-block;
  white-space: nowrap;
  animation: move 10s linear infinite;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#page2 {
  width: 100%;
  height: 100vh;
  background-color: salmon;
}
@media only screen and (max-width: 700px) {
  #navbar ul {
    position: fixed;
    top: -450%;
    /* top: 5%; */
    left: 0;
    flex-direction: column;
    background: linear-gradient(to right, #ffcf6d, #ed5b2c);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: all linear 0.4s;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
    z-index: 3;
  }
  #navbar ul.active {
    top: 104%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: all linear 0.4s;
    width: 100vw;
    z-index: 99;
  }
  #navbar a {
    text-decoration: none;
    display: list-item;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    align-items: flex-start;
    padding: 8px 0px;
    text-align: left;
    transition: all ease 0.3s;
    width: 60%;
    column-count: 8;
  }
  #navbar li {
    margin: 0;
  }
  #WhatsAppIMG {
    display: none;
  }
  #btn1 {
    width: 70px;
    height: 35px;
    border: none;
    background-color: #ed5b2c;
    color: white;
    padding: 2px 2px;
    cursor: pointer;
    font-size: 7px;
    position: relative;
    left: 7.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2px;
  }
  .fa-angle-down {
    display: none;
    opacity: 0;
  }
  .hamMenu {
    position: fixed;
    right: 0;
    z-index: 99;
    display: block;
    cursor: pointer;
  }
  #container1 {
    display: none;
  }
  #container2 {
    display: inline;
  }
  #sidebartext3 {
    display: none;
  }
  #sidebartext2 {
    display: none;
  }
  #sidebartext {
    display: none;
  }
  #sidebar {
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    background: transparent;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    overflow: hidden;
    z-index: 1;
  }
  .sidebarlogoss img {
    width: 30px;
    height: 30px;
    padding: 2px 0;
    left: 0;
    /* margin-left: 22px; */
    bottom: 0;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
  }
  #formTitle {
    font-size: 20px;
    text-align: center;
  }
  .loginForm {
    width: 100%;
    height: 0;
    z-index: 98;
    transition: all ease-in-out 0.5s;
    position: relative;
    overflow: hidden;
  }
  .open-button {
    background: linear-gradient(to right, #ffcf6d, #ed5b2c);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    /* bottom: 23px; */
    right: 26px;
    width: 221px;
    transition: all ease-in-out 0.5s;
    top: 92%;
  }
  .form-popup {
    display: none;
    position: fixed;
    top: 23vh;
    right: 18px;
    border: 2px solid #ed5b2c;
    z-index: 9;
    transition: all linear 0.7s;
  }
  .form-container {
    max-width: 230px;
    padding: 0px;
    color: #ed5b2c;
    height: 36%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    transition: all linear 0.7s;
  }
  .form-container input[type='text'],
  .form-container input[type='number'] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 2px 0;
    border: none;
    color: #ed5b2c;
    background: transparent;
    backdrop-filter: blur(20px);
    overflow: hidden;
  }
  .form-container input[type='text']:focus,
  .form-container input[type='number']:focus {
    background-color: transparent;
    outline: none;
  }
  .form-container input[type='email'] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 0 0;
    border: none;
    color: #ed5b2c;
    background: transparent;
    backdrop-filter: blur(20px);
    overflow: hidden;
  }
  .form-container input[type='email']:focus {
    background-color: transparent;
    outline: none;
  }
  #Budget {
    width: 90%;
    padding: 15px;
    margin: 5px 0 0 0;
    border: none;
    color: #ed5b2c;
    background: transparent;
    backdrop-filter: blur(20px);
    overflow: hidden;
  }
  #Budget:focus {
    background-color: transparent;
    outline: none;
  }
  #Ptype {
    width: 90%;
    padding: 15px;
    color: #ed5b2c;
    margin: 5px 0 0 0;
    border: none;
    background: transparent;
    backdrop-filter: blur(20px);
    overflow: hidden;
  }
  #Ptype:focus {
    background: transparent;
    outline: none;
  }
  .valls {
    width: 90%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: transparent;
    backdrop-filter: blur(20px);
    overflow: hidden;
  }
  .form-container .btn {
    background-color: #64a4ac;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: #ed5b2c;
  }
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }
  .running-text {
    display: none;
  }
}
