@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
#page1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
#navbar {
  padding: 10px 10px;
  display: flex;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.6);
  /* background: linear-gradient(to right, #e7e296, #8cc0e6); */
  background: transparent;
  backdrop-filter: blur(10px);
  height: 70px;
  z-index: 99;
}
#logoIMG {
  width: 130px;
  height: 80px;
}
#navbar ul {
  width: 100%;
  list-style: none;
}
#navbar li {
  position: relative;
  float: left;
  width: auto;
}
#navbar a {
  text-decoration: none;
  color: #ed5b2c;
  display: flex;
  font-size: 15px;
  position: relative;
  /* left: 3rem; */
  /* font-weight: bold; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 8px;
  transition: all ease 0.3s;
}
.nav2 {
  display: flex;
  padding: 20px 15px;
  gap: 8px;
  justify-content: space-between;
}
#btn1 {
  width: 120px;
  height: 50px;
  border: none;
  /* font-weight: bold; */
  /* border: 1px solid black; */
  /* background: linear-gradient(to right, #8cc0e6, #e7e296); */
  /* background: linear-gradient(to right, #e7e296, #8cc0e6); */
  background: linear-gradient(to right, #ffcf6d, #ed5b2c);
  color: white;
  font-size: 14px;
  bottom: 10px;
  padding: 10px 3px;
  cursor: pointer;
  transition: all linear 0.5s;
  position: relative;
}
#btn1:hover {
  opacity: 0.7;
}
.fa-angle-down {
  padding: 0 3px;
}
#submenu {
  visibility: hidden;
  top: 80px;
  left: 0;
  opacity: 0;
  z-index: 1;
  position: absolute;
  transition: all ease-in-out 0.4s;
}
li:hover ul#submenu {
  visibility: visible;
  opacity: 1;
}
#submenu li {
  transition: all ease-in-out 0.6s;
  width: 100%;
  float: none;
}
#submenu a {
  /* background: linear-gradient(to right, #e7e296, #8cc0e6); */
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: #ed5b2c;
  font-size: 15px;
  padding: 10px;
}
.hamMenu {
  display: none;
}
.burger {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  z-index: 99;
  transition: all ease-in-out 0.3s;
  background-color: #ed5b2c;
}
#container1 {
  width: 100%;
  height: 100%;
  /* background-color: salmon; */
}
#container2 {
  display: none;
}
.swiper {
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: -1;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#sidebar {
  width: 7%;
  height: 86%;
  background: transparent;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 14%;
  overflow: hidden;
  z-index: 1;
}
#sidebartext {
  display: flex;
  text-align: center;
  font-size: 20px;
  position: relative;
  left: 1rem;
  text-transform: uppercase;
  color: #ed5b2c;
}
#sidebartext2 {
  display: flex;
  text-align: center;
  position: relative;
  left: 4rem;
  bottom: 8rem;
  font-size: 20px;
  text-transform: uppercase;
  color: #ed5b2c;
}
#sidebartext3 {
  display: flex;
  text-align: center;
  position: relative;
  font-size: 14px;
  bottom: 7rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ed5b2c;
}
.sidebarlogoss img {
  width: 30px;
  height: 30px;
  padding: 5px 10px;
  margin-left: 22px;
  bottom: 4rem;
  cursor: pointer;
  display: block;
  position: relative;
  overflow: hidden;
}
#formTitle {
  font-size: 20px;
  text-align: center;
}
.loginForm {
  width: 100%;
  height: 0;
  z-index: 99;
  position: fixed;
  /* overflow: hidden; */
}
.open-button {
  background: linear-gradient(to right, #ffcf6d, #ed5b2c);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
  position: fixed;
  top: 15%;
  right: 28px;
  width: 280px;
}
.form-popup {
  display: none;
  position: fixed;
  top: 3%;
  right: 15px;
  border: 2px solid #ed5b2c;
  z-index: 90;
}
.form-container {
  max-width: 300px;
  padding: 0;
  color: #ed5b2c;
  height: 0%;
  background-color: transparent;
  backdrop-filter: blur(10px);
}
.form-container input[type='text'],
.form-container input[type='number'] {
  width: 90%;
  padding: 10px;
  margin: 5px 0 0 0;
  border: none;
  color: #ed5b2c;
  background: transparent;
  backdrop-filter: blur(20px);
  overflow: hidden;
}
.form-container input[type='text']:focus,
.form-container input[type='number']:focus {
  background-color: transparent;
  outline: none;
}
.form-container input[type='email'] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 0 0;
  border: none;
  color: #ed5b2c;
  background: transparent;
  backdrop-filter: blur(20px);
  overflow: hidden;
}
.form-container input[type='email']:focus {
  background-color: transparent;
  outline: none;
}
#Budget {
  width: 90%;
  padding: 15px;
  margin: 5px 0 0 0;
  border: none;
  color: #ed5b2c;
  background: transparent;
  backdrop-filter: blur(20px);
  overflow: hidden;
}
#Budget:focus {
  background-color: transparent;
  outline: none;
}
#Ptype {
  width: 90%;
  padding: 15px;
  color: #ed5b2c;
  margin: 5px 0 0 0;
  border: none;
  background: transparent;
  backdrop-filter: blur(20px);
  overflow: hidden;
}
#Ptype:focus {
  background: transparent;
  outline: none;
}
.valls {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: transparent;
  backdrop-filter: blur(20px);
  overflow: hidden;
}
.form-container .btn {
  background-color: #64a4ac;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: #ed5b2c;
}
.form-container .btn:hover,
.open-button:hover {
  opacity: 0.7;
}
.running-text {
  height: 0;
  width: 82%;
  left: 7%;
  position: relative;
  bottom: 30%;
  z-index: 9;
}
#movingDiv {
  white-space: nowrap;
  overflow-x: auto;
  line-height: 80%;
  padding: 5vw 0;
}
#movingDiv::-webkit-scrollbar {
  display: none;
}
#movingDiv h4 {
  font-size: 3vw;
  color: #ed5b2c;
  white-space: nowrap;
  text-transform: uppercase;
  display: inline-block;
  /* background-color: red; */
}
#circle {
  width: 35px;
  display: inline-block;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(to right, #ffcf6d, #ed5b2c);
}
.con {
  display: inline-block;
  white-space: nowrap;
  animation: move 10s linear infinite;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#page2 {
  width: 100%;
  height: 100vh;
  /* background-color: salmon; */
}
.page2-headline {
  /* display: flex; */
  /* flex-wrap: nowrap; */
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  /* position: relative; */
}
.page2-headline p {
  font-size: 20px;
  width: 70%;
  left: 50%;
  /* top: 0; */
  margin-top: -3%;
  position: absolute;
}
#WelcomeHeading {
  display: flex;
  font-weight: lighter;
  justify-content: center;
  align-content: center;
  color: black;
}
.page2-headline span {
  color: #ed5b2c;
  font-weight: bold;
}
.mySlides {
  display: none;
}
.demoimgg {
  width: 40%;
  vertical-align: middle;
}
.slideshow-container {
  width: 100%;
  top: 19%;
  position: absolute;
  margin: auto;
}
#dotdiv {
  text-align: center;
  position: absolute;
  top: 28%;
  left: 17%;
}
.dot {
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
#quoteBTN {
  width: 200px;
  padding: 10px 5px;
  color: #fff;
  cursor: pointer;
  transition: all linear 0.5s;
  height: 40px;
  top: 30%;
  left: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  background: linear-gradient(to right, #ed5b2c, #ffcf6d);
}
#quoteBTN:hover {
  opacity: 0.7;
}
.page2ProcessText h4 {
  color: black;
  font-size: 25px;
  display: inline-flex;
  position: absolute;
  top: 30%;
  left: 50%;
  font-family: 'Lato', sans-serif;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.page2ProcessText span {
  color: black;
  text-decoration: none;
  font-size: 15px;
  display: inline-flex;
  white-space: pre-wrap;
  /* gap: 10px; */
  font-weight: bold;
  position: relative;
  bottom: -25rem;
  left: 50%;
  font-family: 'Lato', sans-serif;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.page2ProcessText h5 {
  color: black;
  text-decoration: none;
  font-size: 15px;
  display: inline-flex;
  white-space: pre-wrap;
  /* gap: 10px; */
  position: relative;
  bottom: -25rem;
  left: 50%;
  font-family: 'Lato', sans-serif;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.page2ProcessText h6 {
  color: black;
  text-decoration: none;
  font-size: 15px;
  display: inline-flex;
  white-space: pre-wrap;
  /* gap: 10px; */
  position: relative;
  bottom: -25rem;
  left: 50%;
  font-family: 'Lato', sans-serif;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.fa-minus {
  padding: 2px 0;
}
#page3 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #ffcf6d, #ed5b2c);
}
#page4 {
  width: 100%;
  min-height: 100vh;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: white;
}
#page5 {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}
#page6 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #ffcf6d, #ed5b2c);
}
.page3text {
  display: inline-block;
}
.page3text h1 {
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}
.page3text span {
  color: #ffcf6d;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}
.page3text p {
  padding: 10px 0;
  color: white;
  text-align: center;
  font-size: 20px;
}
section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* margin-top: 10%; */
  padding: 2% 0;
  align-items: center;
}
.counter {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}
.i {
  position: relative;
  display: block;
  width: 500px;
  height: 300px;
  left: 30%;
  overflow: hidden;
  border-radius: 5px;
}
.i:before,
.i:after {
  content: '⥪';
  position: absolute;
  top: 50%;
  left: 1rem;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  background: #ed5b2c;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.i:after {
  content: '⥭';
  left: auto;
  right: 1rem;
}
.input {
  appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateX(100%);
  transition: transform ease-in-out 400ms;
  z-index: 1;
}
.input:focus {
  outline: none;
}
.input:after {
  content: attr(title);
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
}
.input:not(checked):before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: 50%;
  left: calc(-100% + 1rem);
}
.input:checked:before {
  display: none;
  left: 1rem;
}
.input:checked {
  transform: translateX(0);
  pointer-event: none;
  z-index: 0;
  box-shadow: -5px 10px 20px -15px rgba(0, 0, 0, 1);
}
.input:checked + .input:before {
  left: -3rem;
}
.input:checked + .input ~ .input:before {
  display: none;
}
/* #yt-main {
  width: 100%;
  height: 100%;
} */
.yt-container {
  width: 600px;
  height: 338px;
}
.yt-container p {
  font-size: 30px;
}
.dis-in {
  display: inline-block;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 38%;
}
.ytyt {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
  align-items: center;
  margin-top: 5%;
}
#view-project {
  width: 150px;
  height: 50px;
  color: white;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #ed5b2c, #ffcf6d);
}
@media only screen and (max-width: 700px) {
  #navbar ul {
    position: fixed;
    top: -450%;
    /* top: 5%; */
    left: 0;
    flex-direction: column;
    background: linear-gradient(to right, #ffcf6d, #ed5b2c);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: all linear 0.4s;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
    z-index: 3;
  }
  #navbar ul.active {
    top: 104%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: all linear 0.4s;
    width: 100vw;
    z-index: 99;
  }
  #navbar a {
    text-decoration: none;
    display: list-item;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    align-items: flex-start;
    padding: 8px 0px;
    text-align: left;
    transition: all ease 0.3s;
    width: 60%;
    column-count: 8;
  }
  #navbar li {
    margin: 0;
  }
  #WhatsAppIMG {
    display: none;
  }
  #btn1 {
    width: 70px;
    height: 35px;
    border: none;
    background-color: #ed5b2c;
    color: white;
    padding: 2px 2px;
    cursor: pointer;
    font-size: 7px;
    position: relative;
    left: 7.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2px;
  }
  .fa-angle-down {
    display: none;
    opacity: 0;
  }
  .hamMenu {
    position: fixed;
    right: 0;
    z-index: 99;
    display: block;
    cursor: pointer;
  }
  #container1 {
    display: none;
  }
  #container2 {
    display: inline;
  }
  #sidebartext3 {
    display: none;
  }
  #sidebartext2 {
    display: none;
  }
  #sidebartext {
    display: none;
  }
  #sidebar {
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    background: transparent;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    overflow: hidden;
    z-index: 1;
  }
  .sidebarlogoss img {
    width: 30px;
    height: 30px;
    padding: 2px 0;
    left: 0;
    /* margin-left: 22px; */
    bottom: 0;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
  }
  #formTitle {
    font-size: 20px;
    text-align: center;
  }
  .loginForm {
    width: 100%;
    height: 0;
    z-index: 98;
    transition: all ease-in-out 0.5s;
    position: relative;
    overflow: hidden;
  }
  .open-button {
    background: linear-gradient(to right, #ffcf6d, #ed5b2c);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    /* bottom: 23px; */
    right: 26px;
    width: 221px;
    transition: all ease-in-out 0.5s;
    top: 15%;
    right: 2%;
  }
  .form-popup {
    display: none;
    position: fixed;
    top: 22vh;
    right: 1%;
    border: 2px solid #ed5b2c;
    z-index: 9;
    transition: all linear 0.7s;
  }
  .form-container {
    max-width: 230px;
    padding: 0px;
    color: #ed5b2c;
    height: 36%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    transition: all linear 0.7s;
  }
  .form-container input[type='text'],
  .form-container input[type='number'] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 2px 0;
    border: none;
    color: #ed5b2c;
    background: transparent;
    backdrop-filter: blur(20px);
    overflow: hidden;
  }
  .form-container input[type='text']:focus,
  .form-container input[type='number']:focus {
    background-color: transparent;
    outline: none;
  }
  .form-container input[type='email'] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 0 0;
    border: none;
    color: #ed5b2c;
    background: transparent;
    backdrop-filter: blur(20px);
    overflow: hidden;
  }
  .form-container input[type='email']:focus {
    background-color: transparent;
    outline: none;
  }
  #Budget {
    width: 90%;
    padding: 15px;
    margin: 5px 0 0 0;
    border: none;
    color: #ed5b2c;
    background: transparent;
    backdrop-filter: blur(20px);
    overflow: hidden;
  }
  #Budget:focus {
    background-color: transparent;
    outline: none;
  }
  #Ptype {
    width: 90%;
    padding: 15px;
    color: #ed5b2c;
    margin: 5px 0 0 0;
    border: none;
    background: transparent;
    backdrop-filter: blur(20px);
    overflow: hidden;
  }
  #Ptype:focus {
    background: transparent;
    outline: none;
  }
  .valls {
    width: 90%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: transparent;
    backdrop-filter: blur(20px);
    overflow: hidden;
  }
  .form-container .btn {
    background-color: #64a4ac;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: #ed5b2c;
  }
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }
  .running-text {
    display: none;
  }
  .page2-headline {
    /* display: flex; */
    /* flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    /* position: relative; */
  }
  #WelcomeHeading {
    display: flex;
    font-weight: lighter;
    justify-content: center;
    align-content: center;
    color: black;
    font-size: 26px;
  }
  .page2-headline span {
    color: #ed5b2c;
    font-weight: bold;
  }
  .page2-headline p {
    font-size: 7px;
    width: 81%;
    text-align: center;
    left: 8%;
    top: 172%;
    position: absolute;
  }
  .mySlides {
    display: none;
  }
  .demoimgg {
    width: 100%;
    vertical-align: middle;
  }
  .slideshow-container {
    width: 100%;
    top: 0;
    position: relative;
    margin: auto;
  }
  #dotdiv {
    text-align: center;
    position: relative;
    top: 0%;
    left: 46%;
    /* right: 42%; */
    display: inline-flex;
  }
  .dot {
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @media only screen and (max-width: 300px) {
    .text {
      font-size: 11px;
    }
  }
  #quoteBTN {
    width: 160px;
    padding: 10px 5px;
    color: #fff;
    cursor: pointer;
    transition: all linear 0.5s;
    height: 40px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    background: linear-gradient(to right, #ed5b2c, #ffcf6d);
    left: 31%;
  }
  #quoteBTN:hover {
    opacity: 0.7;
  }
  /* .page2ProcessText {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  } */
  .page2ProcessText h4 {
    color: black;
    font-size: 15px;
    display: inline-flex;
    position: absolute;
    top: 191%;
    left: 39%;
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
    align-content: center;
    text-align: center;
  }
  .page2ProcessText span {
    color: black;
    text-decoration: none;
    font-size: 12px;
    display: inline-flex;
    white-space: pre-wrap;
    /* gap: 30px; */
    position: absolute;
    left: 9%;
    top: 195%;
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
    align-content: center;
    text-align: center;
  }
  .page2ProcessText h5 {
    color: black;
    text-decoration: none;
    font-size: 12px;
    display: inline-flex;
    white-space: pre-wrap;
    /* gap: 30px; */
    position: absolute;
    left: 35%;
    top: 195%;
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
    align-content: center;
    text-align: center;
  }
  .page2ProcessText h6 {
    color: black;
    text-decoration: none;
    font-size: 12px;
    display: inline-flex;
    white-space: pre-wrap;
    /* gap: 30px; */
    position: absolute;
    left: 67%;
    top: 195%;
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
    align-content: center;
    text-align: center;
  }
  .fa-minus {
    padding: 2px 0;
  }
  .page3text {
    display: inline-block;
  }
  .page3text h1 {
    font-size: 26px;
    text-align: center;
  }
  .page3text p {
    text-align: center;
    font-size: 25px;
  }
  section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* margin-top: 10%; */
    padding: 10% 0;
    align-items: center;
  }
  .counter {
    color: white;
    font-size: 1.5rem;
    text-align: center;
  }
  .i {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    left: 0;
    overflow: hidden;
    border-radius: 5px;
  }
  .i:before,
  .i:after {
    content: '⥪';
    position: absolute;
    top: 50%;
    left: 1rem;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    background: #ed5b2c;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  .i:after {
    content: '⥭';
    left: auto;
    right: 1rem;
  }
  .input {
    appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateX(100%);
    transition: transform ease-in-out 400ms;
    z-index: 1;
  }
  .input:focus {
    outline: none;
  }
  .input:after {
    content: attr(title);
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
  }
  .input:not(checked):before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 50%;
    left: calc(-100% + 1rem);
  }
  .input:checked:before {
    display: none;
    left: 1rem;
  }
  .input:checked {
    transform: translateX(0);
    pointer-event: none;
    z-index: 0;
    box-shadow: -5px 10px 20px -15px rgba(0, 0, 0, 1);
  }
  .input:checked + .input:before {
    left: -3rem;
  }
  .input:checked + .input ~ .input:before {
    display: none;
  }
  .yt-container {
    width: 100%;
    height: 231px;
    position: relative;
    display: inline-block;
    white-space: pre-line;
  }
  .yt-container p {
    font-size: 20px;
  }
  .dis-in {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 30%;
  }
  #view-project {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #ed5b2c, #ffcf6d);
  }
  .ytyt {
    width: 100%;
    min-height: 100vh;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: white;
  }
}
